.container {
  background-color: #eee;
  margin: 30px auto;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 50px);
  grid-gap: 30px; }

.item {
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px; }
  .item--1 {
    background-color: orangered;
    /*grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;*/
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .item--2 {
    background-color: red; }
  .item--3 {
    background-color: yellowgreen; }
  .item--4 {
    background-color: royalblue; }
  .item--5 {
    background-color: brown;
    /*grid-column: 3 / 4;
        grid-row: 1 / 2;*/
    grid-area: 1 / 3 / 2 / 4; }
  .item--6 {
    background-color: blueviolet;
    grid-area: 1 / 2 / 2 / 3; }

.layout {
  margin: 30px auto;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 150px [grid-end];
  grid-template-rows: [header-start] 85px [header-end box-start] 200px [box-end main-start] 400px [main-end footer-start] 85px [footer-end];
  grid-gap: 30px;
  grid-template-areas: "head head head head" "box box box side" "main main main side" "foot foot foot foot"; }
  .layout > * {
    background-color: red;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding: 10px; }

.header, .footer {
  grid-column: col-start 1 / grid-end; }

.box-content {
  grid-area: main; }

.box-sidebar {
  grid-column: 4 / 5;
  grid-row: box-start / main-end; }

.grid {
  background-color: #eee;
  height: 1000px;
  margin: 30px auto;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 100px);
  grid-gap: 30px;
  grid-auto-rows: 90px;
  grid-auto-columns: .5fr;
  grid-auto-flow: row dense;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center; }
  .grid .item {
    background-color: red;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding: 10px; }
    .grid .item--14 {
      align-self: start;
      background-color: crimson;
      justify-self: start;
      grid-row: 2 / span 3; }
    .grid .item--16 {
      background-color: lightcoral;
      grid-row: 2 / span 2; }
    .grid .item--17 {
      background-color: palevioletred;
      grid-column: 1 / -1; }
