.section-about {
    background-color: $light-gray-colour;
    margin-top: -20vh;
    padding: 25rem 0;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-features {
    background-image: linear-gradient(to right bottom, rgba($light-primary-colour, 0.80), rgba($dark-primary-colour, 0.80)), url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -10rem;
    padding: 20rem 0;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 15rem 0;
    }
}

.section-tours {
    background-color: $light-gray-colour;
    margin-top: -10rem;
    padding: 25rem 0 15rem 0;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    padding: 15rem 0;
    position: relative;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-book {
    background-image: linear-gradient(to right bottom, $light-primary-colour, $dark-primary-colour);
    padding: 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.book {
    background-image: linear-gradient(105deg, rgba($white-colour, .9) 0%, rgba($white-colour, .9) 50%, transparent 50%), url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black-colour, .2);

    @include respond(tab-land) {
        background-image: linear-gradient(105deg, rgba($white-colour, .9) 0%, rgba($white-colour, .9) 65%, transparent 65%), url(../img/nat-10.jpg);
        background-size: cover;
    }

    @include respond(tab-land) {
        background-image: linear-gradient(to right, rgba($white-colour, .9) 0%, rgba($white-colour, .9) 100%), url(../img/nat-10.jpg);
    }

    &__form {
        padding: 6rem;
        width: 50%;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }

        @include respond(phone) {
            padding: 4rem;
        }
    }
}