:root {
  --primary-colour: #eb2f64;
  --light-primary-colour: #FF3366;
  --dark-primary-colour: #BA265D;
  --grey-light-1-colour: #faf9f9;
  --grey-light-2-colour: #f4f2f2;
  --grey-light-3-colour: #f0eeee;
  --grey-light-4-colour: #ccc;
  --grey-dark-1-colour: #333;
  --grey-dark-2-colour: #777;
  --grey-dark-3-colour: #999;
  --dark-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  --light-shadow: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--grey-light-2-colour); }

@keyframes pulsate {
  0% {
    box-shadow: none;
    transform: scale(1); }
  50% {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    transform: scale(1.05); }
  100% {
    box-shadow: none;
    transform: scale(1); } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  background-image: linear-gradient(to right bottom, var(--light-primary-colour), var(--dark-primary-colour));
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--grey-dark-2-colour);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  background-color: var(--grey-light-2-colour);
  box-shadow: var(--dark-shadow);
  margin: 8rem auto;
  max-width: 120rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

.btn-inline {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid currentColor;
  color: var(--primary-colour);
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding-bottom: 2px;
  transition: all .2s; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--grey-dark-1-colour); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    animation: pulsate 1s infinite;
    outline: none; }

.btn {
  background-image: linear-gradient(to right, var(--light-primary-colour), var(--dark-primary-colour));
  border: none;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 300;
  overflow: hidden;
  position: relative;
  text-transform: uppercase; }
  .btn > * {
    display: inline-block;
    height: 100%;
    transition: all .2s;
    width: 100%; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    left: 0;
    padding: 2rem 0;
    position: absolute;
    top: -100%; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--light-primary-colour), var(--dark-primary-colour)); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:focus {
    animation: pulsate 1s infinite;
    outline: none; }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-flow: column; } }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0; } }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
    text-transform: uppercase; }

.gallery {
  display: flex; }
  .gallery__photo {
    display: block;
    width: 100%; }

.list {
  border-bottom: var(--line);
  border-top: var(--line);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
    .list__item:before {
      background-image: url(../../img/chevron-thin-right.svg);
      background-size: cover;
      content: "attr";
      height: 1rem;
      margin-right: .7rem;
      width: 1rem; }
      @supports (-webkit-mask-image: url) or (mask-image: url) {
        .list__item:before {
          background-color: var(--primary-colour);
          background-image: none;
          -webkit-mask-image: url(../img/chevron-thin-right.svg);
          mask-image: url(../img/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          mask-size: cover; } }

.logo {
  margin-left: 2rem;
  width: 3.25rem; }

.overview {
  align-items: center;
  border-bottom: var(--line);
  display: flex; }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem; } }
  .overview__stars {
    display: flex;
    margin-right: auto; }
  .overview__icon-star, .overview__icon-location {
    fill: var(--primary-colour);
    height: 1.75rem;
    width: 1.75rem; }
  .overview__location {
    align-items: center;
    display: flex;
    font-size: 1.2rem; }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__rating {
    align-items: center;
    align-self: stretch;
    background-color: var(--primary-colour);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    padding: 0 2.25rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0 1.5rem; } }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-average {
        font-size: 1.8rem; } }
  .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-count {
        font-size: .5rem; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.recommend {
  align-items: center;
  color: var(--grey-dark-3-colour);
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    border: 3px solid #fff;
    border-radius: 50%;
    box-sizing: content-box;
    height: 4rem;
    width: 4rem; }
    .recommend__photo:not(:last-child) {
      margin-right: -2rem; }

.review {
  background-color: #fff;
  box-shadow: var(--light-shadow);
  margin-bottom: 3.5rem;
  overflow: hidden;
  padding: 3rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .review {
      margin-bottom: 3rem;
      padding: 2rem; } }
  .review__text {
    display: inline-block;
    margin-bottom: 2rem;
    position: relative;
    z-index: 10; }
  .review__user {
    align-items: center;
    display: flex; }
  .review__photo {
    border-radius: 50%;
    height: 4.5rem;
    margin-right: 1.5rem;
    width: 4.5rem; }
  .review__user-box {
    flex-grow: 1; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: .4rem;
    text-transform: uppercase; }
  .review__user-date {
    color: var(--grey-dark-3-colour);
    font-size: 1rem; }
  .review__rating {
    color: var(--primary-colour);
    font-size: 2.2rem;
    font-weight: 300; }
  .review::before {
    color: var(--grey-light-2-colour);
    content: "\201C";
    font-family: sans-serif;
    font-size: 20rem;
    left: -1rem;
    line-height: 1;
    position: absolute;
    top: -2.75rem;
    z-index: 1; }

.search {
  align-items: center;
  display: flex;
  flex: 0 0 40%;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      background-color: var(--grey-light-2-colour);
      flex: 0 0 100%;
      order: 1; } }
  .search__input {
    background-color: var(--grey-light-2-colour);
    border: none;
    border-radius: 100px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin-right: -3.5rem;
    padding: .7rem 2rem;
    transition: all .2s;
    width: 90%; }
    .search__input:focus {
      background-color: var(--grey-light-3-colour);
      outline: none;
      width: 100%; }
    .search__input::-webkit-input-placeholder {
      color: var(--grey-light-4-colour);
      font-weight: 100; }
  .search__input:focus + .search__button {
    background-color: var(--grey-light-3-colour); }
  .search__button {
    background-color: var(--grey-light-2-colour);
    border: none; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    fill: var(--grey-dark-3-colour);
    width: 2rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
    .side-nav__item::before {
      background-color: var(--primary-colour);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
      width: 3px; }
    .side-nav__item:hover::before, .side-nav__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .side-nav__item:active::before {
      background-color: var(--light-primary-colour); }
  .side-nav__link:link, .side-nav__link:visited {
    align-items: center;
    color: var(--grey-light-1-colour);
    display: flex;
    padding: 1.5rem 3rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-flow: column;
        padding: 1.5rem .5rem; } }
  .side-nav__icon {
    fill: currentColor;
    height: 1.75rem;
    margin-right: 2rem;
    width: 1.75rem; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        height: 1.5rem;
        margin-bottom: .7rem;
        margin-right: 0;
        width: 1.5rem; } }

.user-nav {
  align-items: center;
  align-self: stretch;
  display: flex; }
  .user-nav > * {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0 2rem; }
    .user-nav > *:hover {
      background-color: var(--grey-light-2-colour); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    fill: var(--grey-dark-2-colour);
    height: 2.25rem;
    width: 2.25rem; }
  .user-nav__notification {
    align-items: center;
    background-color: var(--primary-colour);
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: .8rem;
    height: 1.75rem;
    justify-content: center;
    position: absolute;
    right: 1.1rem;
    top: 1.5rem;
    width: 1.75rem; }
  .user-nav__user-photo {
    border-radius: 50%;
    height: 3.75rem;
    margin-right: 1rem; }

.header {
  align-items: center;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  font-size: 1.4rem;
  height: 7rem;
  justify-content: space-between; }
  @media only screen and (max-width: 31.25em) {
    .header {
      align-content: space-around;
      flex-wrap: wrap;
      height: 12rem; } }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.sidebar {
  background-color: var(--grey-dark-1-colour);
  display: flex;
  flex: 0 0 18%;
  flex-direction: column;
  justify-content: space-between; }

.legal {
  color: var(--grey-light-4-colour);
  font-size: 1.2rem;
  padding: 2.5rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.detail {
  background-color: var(--grey-light-1-colour);
  border-bottom: var(--line);
  display: flex;
  font-size: 1.4rem;
  padding: 4.5rem; }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-flow: column; } }

.description {
  background-color: #fff;
  box-shadow: var(--light-shadow);
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .description {
      margin-right: 3rem;
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-bottom: 3rem;
      margin-right: 0; } }

.user-reviews {
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: column; }
