.legal {
    color: var(--grey-light-4-colour);
    font-size: 1.2rem;
    padding: 2.5rem;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
}

.detail {
    background-color: var(--grey-light-1-colour);
    border-bottom: var(--line);
    display: flex;
    font-size: 1.4rem;
    padding: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }
    
    @media only screen and (max-width: $bp-small) {
        flex-flow: column;
    }
}

.description {
    background-color: #fff;
    box-shadow: var(--light-shadow);
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;

    @media only screen and (max-width: $bp-medium) {
        margin-right: 3rem;
        padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-bottom: 3rem;
        margin-right: 0;
    }
}

.user-reviews {
    align-items: center;
    display: flex; 
    flex: 1;
    flex-flow: column;
}