.btn {
    &, &:link, &:visited {
        border-radius: 10rem;
        display: inline-block;
        font-size: $default-font-size;
        padding: 1.5rem 4rem;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s;
        // Estilos para button.
        border: none;
        cursor: pointer;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba($black-colour, .2);
        transform: translateY(-.3rem);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active, &:focus {
        box-shadow: 0 .5rem 1rem rgba($black-colour, .2);
        outline: none;
        transform: translateY(-.1rem);
    }

    &--white {
        background-color: $white-colour;
        color: $dark-gray-colour;

        &::after {
            background-color: $white-colour;
        }
    }

    &--green {
        background-color: $primary-colour;
        color: $white-colour;

        &::after {
            background-color: $primary-colour;
        }
    }

    &::after {
        border-radius: 10rem;
        content: "";
        display: inline-block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: all .4s;
        width: 100%;
        z-index: -1;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link, &:visited {
        border-bottom: 1px solid $primary-colour;
        color: $primary-colour;
        display: inline-block;
        font-size: $default-font-size;
        padding: 3px;
        text-decoration: none;
        transition: all .2s;
    }

    &:hover {
        background-color: $primary-colour;
        box-shadow: 0 1rem 2rem rgba($black-colour, .15);
        color: $white-colour;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($black-colour, .15);
        transform: translateY(0);
    }
}