.card {
    height: 52rem;
    perspective: 150rem;
    position: relative;

    &__side {
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($black-colour, .15);
        height: 52rem;
        font-size: 2rem;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        transition: all .8s ease;
        width: 100%;

        &--front {
            background-color: $white-colour;
        }

        &--back {
            color: white;
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $light-secondary-colour, $dark-secondary-colour);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $light-primary-colour, $dark-primary-colour);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $light-tertiary-colour, $dark-tertiary-colour);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__picture {
        background-blend-mode: screen;
        background-size: cover;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        height: 23rem;

        &--1 {
            background-image: linear-gradient(to right bottom, $light-secondary-colour, $dark-secondary-colour), url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $light-primary-colour, $dark-primary-colour), url(../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $light-tertiary-colour, $dark-tertiary-colour), url(../img/nat-7.jpg);
        }
    }

    &__heading {
        color: $white-colour;
        font-size: 2.8rem;
        font-weight: 300;
        position: absolute;
        right: 2rem;
        text-align: right;
        text-transform: uppercase;
        top: 12rem;
        width: 75%;
    }

    &__heading-span {
        box-decoration-break: clone;
        padding: 1rem 1.5rem;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($light-secondary-colour, .85), rgba($dark-secondary-colour, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, rgba($light-primary-colour, .85), rgba($dark-primary-colour, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, rgba($light-tertiary-colour, .85), rgba($dark-tertiary-colour, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            margin: 0 auto;
            width: 80%;

            li {
                font-size: 1.5rem;
                padding: 1rem;
                text-align: center;

                &:not(:last-child) { 
                    border-bottom: 1px solid $light-gray-colour;
                }
            }
        }
    }

    &__cta {
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    &__price-box {
        color: $white-colour;
        margin-bottom: 8rem;
        text-align: center;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    //@include respond(tab-port) {
    @media only screen and (max-width: 56.25em),
    only screen and (hover: none) {
        background-color: $white-colour;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($black-colour, .15);
        height: auto;

        &__side {
            box-shadow: none;
            height: auto;
            position: relative;

            &--back {
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                transform: rotateY(0);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

        &__cta {
            left: 0;
            padding: 7rem 4rem 4rem 4rem;
            position: relative;
            top: 0%;
            transform: translate(0);
            width: 100%;
        }

        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-value {
            font-size: 6rem;
        }
    }
}