.feature-box {
    background-color: rgba($white-colour, .8);
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black-colour, .15);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    transition: all .3s;

    &__icon {
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, $light-primary-colour, $dark-primary-colour);
        color: transparent;
        display: inline-block;
        font-size: 6rem;
        margin-bottom: .5rem;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}