.popup {
    background-color: rgba($black-colour, .8);
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all .3s;
    visibility: hidden;
    width: 100vw;
    z-index: 9999;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        background-color: rgba($black-colour, .4);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    &__content {
        @include absCentre;
        background-color: $white-colour;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem rgba($black-colour, .2);
        display: table;
        opacity: 0;
        overflow: hidden;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;
        width: 75%;
    }

    &__left {
        display: table-cell;
        width: 33.33333%;
    }

    &__right {
        display: table-cell;
        padding: 3rem 5rem;
        vertical-align: middle;
        width: calc(100% - 33.33333%);
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $light-gray-colour;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $light-gray-colour;
        hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link, &:visited {
            color: $darker-gray-colour;
            display: inline-block;
            font-size: 3rem;
            line-height: 1;
            position: absolute;
            right: 2.5rem;
            text-decoration: none;
            top: 2.5rem;
            transition: all .2s;
        }

        &:hover {
            color: $primary-colour;
        }
    }
}