.story {
    background-color: rgba($white-colour, .6);
    border-radius: 3px;
    box-shadow: 0 3rem 6rem rgba($black-colour, .1);
    font-size: $default-font-size;
    margin: 0 auto;
    padding: 6rem;
    padding-left: 9rem;
    transform: skewX(-12deg);
    width: 75%;

    @include respond(tab-port) {
        padding: 4rem;
        padding-left: 7rem;
        width: 100%;
    }

    @include respond(phone) {
        transform: skewX(0);
    }

    &__shape {
        border-radius: 50%;
        float: left;
        height: 15rem;
        overflow: hidden;
        position: relative;
        transform: translateX(-3rem) skewX(12deg);
        width: 15rem;

        @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
            border-radius: none;
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
        }

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__img {
        backface-visibility: hidden;
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__caption {
        backface-visibility: hidden;
        color: $white-colour;
        font-size: $default-font-size+.1rem;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        text-align: center;
        text-transform: uppercase;
        transform: translate(-50%, 20%);
        transition: all .5s;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        filter: blur(3px) brightness(80%);
        transform: translateX(-4rem) scale(1);
    }
}