.container {
    background-color: #eee;
    margin: 30px auto;
    width: 1000px;

    display: grid;
    /// Size of columns.
    //grid-template-columns: 150px 150px 150px;
    //grid-template-columns: repeat(2, 150px) 300px;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 1fr 2fr 1fr;
    /// Size of rows
    //grid-template-rows: 150px 150px;
    grid-template-rows: repeat(2, 50px);

    /// Size between columns and rows.
    //grid-column-gap: 30px;
    //grid-row-gap: 30px;
    grid-gap: 30px;
}

.item {
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;

    &--1 {
        background-color: orangered;
        /// Locate a field in a specific row and column.
        /*grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;*/
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    &--2 {
        background-color: red;
    }

    &--3 {
        background-color: yellowgreen;
    }

    &--4 {
        background-color: royalblue;
    }

    &--5 {
        background-color: brown;
        /*grid-column: 3 / 4;
        grid-row: 1 / 2;*/
        grid-area: 1 / 3 / 2 / 4;
    }

    &--6 {
        background-color: blueviolet;

        grid-area: 1 / 2 / 2 / 3;
    }
}

.layout {
    margin: 30px auto;
    width: 1000px;

    display: grid;
    //grid-template-columns: repeat(3, 1fr) 150px;
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 150px [grid-end];
    //grid-template-rows: 85px 200px 400px 85px;
    grid-template-rows: [header-start] 85px [header-end box-start] 200px [box-end main-start] 400px [main-end footer-start] 85px [footer-end];
    grid-gap: 30px;

    grid-template-areas: "head head head head"
        "box box box side"
        "main main main side"
        "foot foot foot foot";

    & > * {
        background-color: red;
        color: #fff;
        font-size: 17px;
        font-weight: 700;
        padding: 10px;
    }
}

.header, .footer {
    //grid-column: 1 / -1;
    grid-column: col-start 1 / grid-end;
}

.box-content {
    //grid-column: 1 / span 3;
    grid-area: main;
}

.box-sidebar {
    grid-column: 4 / 5;
    //grid-row: 2 / 4;
    grid-row: box-start / main-end;
}

.grid {
    background-color: #eee;
    height: 1000px;
    margin: 30px auto;
    width: 1000px;

    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 100px);
    grid-gap: 30px;

    // Rows autogenerate
    grid-auto-rows: 90px;
    grid-auto-columns: .5fr;
    grid-auto-flow: row dense;

    // Align items in grid areas
    align-items: center;
    justify-items: center;

    // Align content en grid layout
    justify-content: center;
    align-content: center;

    .item {
        background-color: red;
        color: #fff;
        font-size: 17px;
        font-weight: 700;
        padding: 10px;

        &--14 {
            align-self: start;
            background-color: crimson;
            justify-self: start;
            grid-row: 2 / span 3;
        }

        &--16 {
            background-color: lightcoral;
            grid-row: 2 / span 2;
        }

        &--17 {
            background-color: palevioletred;
            grid-column: 1 / -1;
        }
    }
}