:root {
    --primary-colour: #eb2f64;
    --light-primary-colour: #FF3366;
    --dark-primary-colour: #BA265D;

    --grey-light-1-colour: #faf9f9;
    --grey-light-2-colour: #f4f2f2;
    --grey-light-3-colour: #f0eeee;
    --grey-light-4-colour: #ccc;

    --grey-dark-1-colour: #333;
    --grey-dark-2-colour: #777;
    --grey-dark-3-colour: #999;

    --dark-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
    --light-shadow: 0 2rem 5rem rgba(0, 0, 0, .06);

    --line: 1px solid var(--grey-light-2-colour);
}

$bp-largest: 75em; //1200px;
$bp-large: 68.75em; //1100px;
$bp-medium: 56.25em; //900px;
$bp-small: 37.5em; //600px;
$bp-smallest: 31.25em; //500px;