.features {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    @supports(display: grid) {
        align-items: start;
        display: grid;
        grid-gap: 6rem;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    @media only screen and (max-width: $bp-small) {
        margin: 8rem 0;
    }
}

.feature {
    float: left;
    width: 33.3333%;
    margin-bottom: 6rem;

    @supports(display: grid) {
        margin-bottom: 0;
        width: auto;
    }

    display: grid;
    grid-column-gap: 2.5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: min-content 1fr;

    &__icon {
        fill: $color-primary;
        grid-row: 1 / span 2;
        height: 4.5rem;
        transform: translateY(-1rem);
        width: 4.5rem;
    }

    &__text {
        font-size: 1.7rem;
    }
}