.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav {
    ul {
        align-items: center;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        list-style: none;
    }

    &__link:link,
    &__link:visited {
        color: #fff;
        display: block;
        font-family: $font-display;
        font-size: 1.4rem;
        padding: 1.5rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s;
    }

    &__link:active,
    &__link:hover {
        background-color: rgba(#fff, .05);
        transform: translateY(-3px);
    }
}

.copyright {
    color: $color-grey-light-2;
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    text-align: center;
    width: 70%;
}