.header {
    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg);
    background-position: center; 
    background-size: cover;
    display: grid;
    grid-column: full-start / col-end 6;
    grid-row-gap: 1.5rem;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    justify-content: center;
    padding: 8rem;
    padding-top: 4rem;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 5rem;
    }

    &__logo {
        justify-self: center;
        height: 3rem;
    }

    &__btn {
        align-self: start;
        justify-self: start;
    }

    &__seenon-text {
        align-items: center;
        color: $color-grey-light-2;
        display: grid;
        font-size: 1.6rem;
        grid-column-gap: 1.5rem;
        grid-template-columns: 1fr max-content 1fr;

        &::after,
        &::before {
            background-color: currentColor;
            content: "";
            display: block;
            height: 1px;
        }
    }

    &__seenon-logos {
        display: grid;
        grid-column-gap: 3rem;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;

        img {
            filter: brightness(70%);
            max-height: 2.5rem;
            max-width: 100%;
        }
    }
}