.homes {
    display: grid;
    grid-column: center-start / center-end;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    margin: 15rem 0;

    @media only screen and (max-width: $bp-small) {
        margin: 8rem 0;
    }
}

.home {
    background-color: $color-grey-light-1;
    display: grid;
    grid-row-gap: 3.5rem;
    grid-template-columns: repeat(2, 1fr);

    &__img {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        width: 100%;
        z-index: 1;
    }

    &__like {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        fill: $color-primary;
        height: 2.5rem;
        justify-self: end;
        margin: 1rem;
        width: 2.5rem;
        z-index: 2;
    }

    &__name {
        align-self: end;
        background-color: $color-secondary;
        color: #fff;
        font-family: $font-display;
        font-size: 1.6rem;
        font-weight: 400;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-self: center;
        padding: 1.25rem;
        text-align: center;
        transform: translateY(50%);
        width: 80%;
        z-index: 3;
    }

    &__location,
    &__rooms {
        margin-top: 2.5rem;
    }

    &__location,
    &__rooms,
    &__area, 
    &__price {
        align-items: center;
        display: flex;
        font-size: 1.5rem;
        margin-left: 2rem;

        svg {
            fill: $color-primary;
            height: 2rem;
            margin-right: 1rem;
            width: 2rem;
        }
    }

    &__btn {
        grid-column: 1 / -1;
    }
}