.sidebar {
    background-color: $color-primary;
    display: flex;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
        align-items: center;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: flex-end;
    }
}

.nav-btn {
    background-color: #fff;
    border: none;
    border-radius: 0;
    height: 2px;
    margin-top: 4rem;
    width: 4.5rem;

    &::after,
    &::before {
        background-color: #fff;
        content: "";
        display: block;
        height: 2px;
        width: 4.5rem;
    }

    &::after { transform: translateY(1.3rem); }
    &::before { transform: translateY(-1.5rem); }

    @media only screen and (max-width: $bp-large) {
        margin-right: 3rem;
        margin-top: 0;

        &::after { transform: translateY(1rem); }
        &::before { transform: translateY(-1.2rem); }
    }
}