.story {
    &__pictures {
        align-items: center;
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(../img/back.jpg);
        background-size: cover;
        display: grid;
        grid-column: full-start / col-end 4;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            padding: 6rem;
        }
    }

    &__img {
        &--1 {
            box-shadow: 0 2rem 5rem rgba(#000, .1);
            grid-column: 2 / 6;
            grid-row: 2 / 6;
            width: 100%;

            @media only screen and (max-width: $bp-medium) {
                grid-column: 1 / 5;
                grid-row: 1 / -1;
            }
        }

        &--2 {
            box-shadow: 0 2rem 5rem rgba(#000, .2);
            grid-column: 4 / 6;
            grid-row: 4 / 7;
            width: 115%;
            z-index: 20;

            @media only screen and (max-width: $bp-medium) {
                grid-row: 1 / -1;
                width: 100%;
            }
        }
    }

    &__content {
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;

        /*align-items: flex-start;
        display: flex;
        flex-flow: column;
        justify-content: center;*/
        align-content: center;
        display: grid;
        justify-items: start;
        padding: 6rem 8vw;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            grid-row: 5 / 6;
        }
    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4rem;
    }
}