// Colours
$primary-colour: #55c57a;
$light-primary-colour: #7ed56f;
$dark-primary-colour: #28b485;
$dark-gray-colour: #777;
$darker-gray-colour: #999;
$light-gray-colour: #eee;
$white-colour: #fff;
$black-colour: #000;
$light-black-colour: #333;
$light-gray-colour: #f7f7f7;
$light-secondary-colour: #ffb900;
$dark-secondary-colour: #ff7730;
$light-tertiary-colour: #2998ff;
$dark-tertiary-colour: #5643fa;

// Grid system.
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Font
$default-font-size: 1.6rem;
$footer-font-size: 1.4rem;