*, 
*::after, 
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; // 10px - 10/16 = 62.5

    @include respond(big-desktop) {
        font-size: 75%; // 12px - 12/16 = 75
    }

    @include respond(tab-land) {
        font-size: 56.25%; // 9px - 9/16 = 56.25
    }

    @include respond(tab-port) {
        font-size: 50%; // 8px - 8/16 = 50
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $primary-colour;
    color: $white-colour;
}