body {
    color: $dark-gray-colour;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary {
    backface-visibility: hidden;
    color: $white-colour;
    margin-bottom: 6rem;
    text-transform: uppercase;

    &--main {
        animation-name: moveInLeft;
        animation-duration: 3s;
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3rem;

        @include respond(phone) {
            font-size: 5rem;
            letter-spacing: 1rem;
        }
    }
    
    &--sub {
        animation: moveInRight 3s;
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.4rem;

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, $light-primary-colour, $dark-primary-colour);
    color: transparent;
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-transform: uppercase;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 2.5rem;
    }

    @include respond(phone) {
        font-size: 2rem;
    }

    &:hover {
        text-shadow: .5rem 1rem 2rem rgba($black-colour, .2);
        transform: skewY(2deg) skewX(15deg) scale(1.1);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paraghap {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}