.header {
    align-items: center;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    font-size: 1.4rem;
    height: 7rem;
    justify-content: space-between;

    @media only screen and (max-width: $bp-smallest) {
        align-content: space-around;
        flex-wrap: wrap;
        height: 12rem;
    }
}