.btn {
    background-image: linear-gradient(to right, var(--light-primary-colour), var(--dark-primary-colour));
    border: none;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 300;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;

    & > * {
        display: inline-block;
        height: 100%;
        transition: all .2s;
        width: 100%;
    }

    &__visible {
        padding: 2rem 7.5rem;
    }

    &__invisible {
        left: 0;
        padding: 2rem 0;
        position: absolute;
        top: -100%;
    }

    &:hover {
        background-image: linear-gradient(to left, var(--light-primary-colour), var(--dark-primary-colour));
    }

    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__invisible {
        top: 0;
    }

    &:focus {
        animation: pulsate 1s infinite;
        outline: none;
    }
}