.btn-inline {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid currentColor;
    color: var(--primary-colour);
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    padding-bottom: 2px;
    transition: all .2s;

    & span {
        margin-left: 3px;
        transition: margin-left .2s;
    }

    &:hover {
        color: var(--grey-dark-1-colour);

        span {
            margin-left: 8px;
        }
    }

    &:focus {
        animation: pulsate 1s infinite;
        outline: none;
    }
}