.list {
    border-bottom: var(--line);
    border-top: var(--line);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;

    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;

        &:before {
            background-image: url(../../img/chevron-thin-right.svg);
            background-size: cover;
            content: "attr";
            height: 1rem;
            margin-right: .7rem;
            width: 1rem;

            @supports (-webkit-mask-image: url) or (mask-image: url) {
                background-color: var(--primary-colour);
                background-image: none;
                -webkit-mask-image: url(../img/chevron-thin-right.svg);
                mask-image: url(../img/chevron-thin-right.svg);
                -webkit-mask-size: cover;
                mask-size: cover;
            }
        }
    }
}