.overview {
    align-items: center;
    border-bottom: var(--line);
    display: flex;

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
        text-transform: uppercase;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        }
    }

    &__stars {
        display: flex;
        margin-right: auto;
    }

    &__icon-star,
    &__icon-location {
        fill: var(--primary-colour);
        height: 1.75rem;
        width: 1.75rem;
    }

    &__location {
        align-items: center;
        display: flex;
        font-size: 1.2rem;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        align-items: center;
        align-self: stretch;
        background-color: var(--primary-colour);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 3rem;
        padding: 0 2.25rem;

        @media only screen and (max-width: $bp-small) {
            padding: 0 1.5rem;
        }
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
        }
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;

        @media only screen and (max-width: $bp-small) {
            font-size: .5rem;
        }
    }
}