.recommend {
    align-items: center;
    color: var(--grey-dark-3-colour);
    display: flex;
    font-size: 1.3rem;
    justify-content: space-between;

    &__count {}

    &__friends {
        display: flex;
    }

    &__photo {
        border: 3px solid #fff;
        border-radius: 50%;
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;

        &:not(:last-child) {
            margin-right: -2rem;
        }
    }
}