.search {
    align-items: center;
    display: flex;
    flex: 0 0 40%;
    justify-content: center;

    @media only screen and (max-width: $bp-smallest) {
        background-color: var(--grey-light-2-colour);
        flex: 0 0 100%;
        order: 1;
    }

    &__input {
        background-color: var(--grey-light-2-colour);
        border: none;
        border-radius: 100px;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        margin-right: -3.5rem;
        padding: .7rem 2rem;
        transition: all .2s;
        width: 90%;

        &:focus {
            background-color: var(--grey-light-3-colour);
            outline: none;
            width: 100%;
        }

        &::-webkit-input-placeholder {
            color: var(--grey-light-4-colour);
            font-weight: 100;
        }
    }

    &__input:focus + &__button {
        background-color: var(--grey-light-3-colour);
    }

    &__button {
        background-color: var(--grey-light-2-colour);
        border: none;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        fill: var(--grey-dark-3-colour);
        width: 2rem;
    }
}