.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
        display: flex;
        margin: 0;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;

            @media only screen and (max-width: $bp-medium) {
                margin: 0;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            flex: 1;
        }

        &::before {
            background-color: var(--primary-colour);
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transform: scaleY(0);
            transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
            width: 3px;
        }

        &:hover::before,
        &--active::before {
            transform: scaleY(1);
            width: 100%;
        }

        &:active::before {
            background-color: var(--light-primary-colour);
        }
    }

    &__link:link,&__link:visited {
        align-items: center;
        color: var(--grey-light-1-colour);
        display: flex;
        padding: 1.5rem 3rem;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        z-index: 10;

        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
            padding: 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            flex-flow: column;
            padding: 1.5rem .5rem;
        }
    }

    &__icon {
        fill: currentColor;
        height: 1.75rem;
        margin-right: 2rem;
        width: 1.75rem;

        @media only screen and (max-width: $bp-small) {
            height: 1.5rem;
            margin-bottom: .7rem;
            margin-right: 0;
            width: 1.5rem;
        }
    }
}