.user-nav {
    align-items: center;
    align-self: stretch;
    display: flex;

    & > * {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 100%;
        padding: 0 2rem;

        &:hover {
            background-color: var(--grey-light-2-colour);
        }
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        fill: var(--grey-dark-2-colour);
        height: 2.25rem;
        width: 2.25rem;
    }

    &__notification {
        align-items: center;
        background-color: var(--primary-colour);
        border-radius: 50%;
        color: #fff;
        display: flex;
        font-size: .8rem;
        height: 1.75rem;
        justify-content: center;
        position: absolute;
        right: 1.1rem;
        top: 1.5rem;
        width: 1.75rem;
    }

    &__user-photo {
        border-radius: 50%;
        height: 3.75rem;
        margin-right: 1rem;
    }
}