.footer {
    background-color: $light-black-colour;
    color: $light-gray-colour;
    font-size: $footer-font-size;
    padding: 10rem 0;

    @include respond(tab-port) {
        padding: 8rem 0;
    }

    &__logo-box {
        margin-bottom: 8rem;
        text-align: center;

        @include respond(tab-port) {
            margin-bottom: 6rem;
        }
    }

    &__logo {
        height: auto;
        width: 15rem;
    }

    &__navigation {
        border-top: 1px solid $dark-gray-colour;
        display: inline-block;
        padding-top: 2rem;

        @include respond(tab-port) {
            text-align: center;
            width: 100%;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link, &:visited {
            background-color: $light-black-colour;
            color: $light-gray-colour;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .2s;
        }

        &:hover, &:active {
            box-shadow: 0 1rem 2rem rgba($black-colour, .4);
            color: $primary-colour;
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 1px solid $dark-gray-colour;
        float: right;
        padding-top: 2rem;
        width: 80%;

        @include respond(tab-port) {
            float: none;
            width: 100%;
        }
    }
}