.header {
    background-image: linear-gradient(to right bottom, rgba($light-primary-colour, 0.80), rgba($dark-primary-colour, 0.80)), url(../img/hero-small.jpg);
    background-position: top;
    background-size: cover;
    height: 85vh;
    position: relative;

    @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 85vh;
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), 
    only screen and(-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), 
    only screen and(min-width: 125em) {
        background-image: linear-gradient(to right bottom, rgba($light-primary-colour, 0.80), rgba($dark-primary-colour, 0.80)), url(../img/hero.jpg);
    }

    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        left: 4rem;
        position: absolute;
        top: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }
    
    &__text-box {
        left: 50%;
        position: absolute;
        text-align: center;
        top: 40%;
        transform: translate(-50%, -50%);
    }
}