.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $white-colour;
        border-radius: 50%;
        box-shadow: 0 1rem 3rem rgba($black-colour, .1);
        cursor: pointer;
        height: 7rem;
        position: fixed;
        right: 6rem;
        text-align: center;
        top: 6rem;
        width: 7rem;
        z-index: 2000;

        @include respond(tab-port) {
            right: 4rem;
            top: 4rem;
        }

        @include respond(phone) {
            right: 3.2rem;
            top: 3.2rem;
        }
    }

    &__background {
        background-image: radial-gradient($light-primary-colour, $dark-primary-colour);
        border-radius: 50%;
        height: 6rem;
        position: fixed;
        right: 6.5rem;
        top: 6.5rem;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
        width: 6rem;
        z-index: 1000;

        @include respond(tab-port) {
            right: 4.5rem;
            top: 4.5rem;
        }

        @include respond(phone) {
            right: 3.5rem;
            top: 3.5rem;
        }
    }

    &__nav {
        height: 100vh;
        opacity: 0;
        position: fixed;
        left: 0;
        top: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        width: 0;
        z-index: 1500;
    }

    &__list {
        left: 50%;
        list-style: none;
        position: absolute;
        top: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link, &:visited {
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $white-colour 50%);
            background-size: 220%;
            color: $white-colour;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .4s;

            span {
                display: inline-block;
                margin-right: 1.5rem;
            }
        }

        &:hover, &:active {
            background-position: 100%;
            color: $primary-colour;
            transform: translateX(1rem);
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100vw;
    }

    &__icon {
        margin-top: 3.5rem;
        position: relative;

        &, &::after, &::before {
            background-color: $light-black-colour;
            display: inline-block;
            height: 2px;
            width: 3rem;
        }

        &::after, &::before {
            content: "";
            left: 0;
            position: absolute;
            transition: all .2s;
        }

        &::after { top: .8rem; }
        &::before { top: -.8rem; }
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
}