html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    background-image: linear-gradient(to right bottom, var(--light-primary-colour), var(--dark-primary-colour));
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--grey-dark-2-colour);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
.container {
    background-color: var(--grey-light-2-colour);
    box-shadow: var(--dark-shadow);
    margin: 8rem auto;
    max-width: 120rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}