*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  color: #6D5D4B;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6rem; }

.container {
  display: grid;
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content); }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content); } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem); } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  color: #f9f7f6;
  font-size: 4.5rem;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  color: #c69963;
  font-size: 1.6rem;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #c69963;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  padding: 1.8rem 3rem;
  text-transform: uppercase;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #c69963;
  display: flex;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      align-items: center;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-content: flex-end; } }

.nav-btn {
  background-color: #fff;
  border: none;
  border-radius: 0;
  height: 2px;
  margin-top: 4rem;
  width: 4.5rem; }
  .nav-btn::after, .nav-btn::before {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    width: 4.5rem; }
  .nav-btn::after {
    transform: translateY(1.3rem); }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  @media only screen and (max-width: 62.5em) {
    .nav-btn {
      margin-right: 3rem;
      margin-top: 0; }
      .nav-btn::after {
        transform: translateY(1rem); }
      .nav-btn::before {
        transform: translateY(-1.2rem); } }

.header {
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-column: full-start / col-end 6;
  grid-row-gap: 1.5rem;
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  justify-content: center;
  padding: 8rem;
  padding-top: 4rem; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 5rem; } }
  .header__logo {
    justify-self: center;
    height: 3rem; }
  .header__btn {
    align-self: start;
    justify-self: start; }
  .header__seenon-text {
    align-items: center;
    color: #aaa;
    display: grid;
    font-size: 1.6rem;
    grid-column-gap: 1.5rem;
    grid-template-columns: 1fr max-content 1fr; }
    .header__seenon-text::after, .header__seenon-text::before {
      background-color: currentColor;
      content: "";
      display: block;
      height: 1px; }
  .header__seenon-logos {
    display: grid;
    grid-column-gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center; }
    .header__seenon-logos img {
      filter: brightness(70%);
      max-height: 2.5rem;
      max-width: 100%; }

.realtors {
  align-content: center;
  background-color: #101d2c;
  display: grid;
  grid-column: col-start 7 / full-end;
  grid-row-gap: 2rem;
  justify-content: center;
  justify-items: center; }
  @media only screen and (max-width: 50em) {
    .realtors {
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 37.5em) {
    .realtors {
      padding: 4rem 0; } }
  .realtors__list {
    align-items: center;
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    grid-template-columns: min-content max-content; }
    @media only screen and (max-width: 50em) {
      .realtors__list {
        grid-template-columns: repeat(3, min-content max-content); } }
    @media only screen and (max-width: 37.5em) {
      .realtors__list {
        grid-template-columns: min-content max-content; } }
  .realtors__img {
    border-radius: 50%;
    display: block;
    height: 7rem; }
  .realtors__sold {
    color: #aaa;
    margin-top: -3px;
    text-transform: uppercase; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0; }
  @supports (display: grid) {
    .features {
      align-items: start;
      display: grid;
      grid-gap: 6rem;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); } }
  @media only screen and (max-width: 37.5em) {
    .features {
      margin: 8rem 0; } }

.feature {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  display: grid;
  grid-column-gap: 2.5rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: min-content 1fr; }
  @supports (display: grid) {
    .feature {
      margin-bottom: 0;
      width: auto; } }
  .feature__icon {
    fill: #c69963;
    grid-row: 1 / span 2;
    height: 4.5rem;
    transform: translateY(-1rem);
    width: 4.5rem; }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  align-items: center;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover;
  display: grid;
  grid-column: full-start / col-end 4;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); }
  @media only screen and (max-width: 50em) {
    .story__pictures {
      grid-column: 1 / -1;
      padding: 6rem; } }

.story__img--1 {
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  grid-column: 2 / 6;
  grid-row: 2 / 6;
  width: 100%; }
  @media only screen and (max-width: 50em) {
    .story__img--1 {
      grid-column: 1 / 5;
      grid-row: 1 / -1; } }

.story__img--2 {
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  grid-column: 4 / 6;
  grid-row: 4 / 7;
  width: 115%;
  z-index: 20; }
  @media only screen and (max-width: 50em) {
    .story__img--2 {
      grid-row: 1 / -1;
      width: 100%; } }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  /*align-items: flex-start;
        display: flex;
        flex-flow: column;
        justify-content: center;*/
  align-content: center;
  display: grid;
  justify-items: start;
  padding: 6rem 8vw; }
  @media only screen and (max-width: 50em) {
    .story__content {
      grid-column: 1 / -1;
      grid-row: 5 / 6; } }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.homes {
  display: grid;
  grid-column: center-start / center-end;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  margin: 15rem 0; }
  @media only screen and (max-width: 37.5em) {
    .homes {
      margin: 8rem 0; } }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-row-gap: 3.5rem;
  grid-template-columns: repeat(2, 1fr); }
  .home__img {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: 100%;
    z-index: 1; }
  .home__like {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    fill: #c69963;
    height: 2.5rem;
    justify-self: end;
    margin: 1rem;
    width: 2.5rem;
    z-index: 2; }
  .home__name {
    align-self: end;
    background-color: #101d2c;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
    padding: 1.25rem;
    text-align: center;
    transform: translateY(50%);
    width: 80%;
    z-index: 3; }
  .home__location, .home__rooms {
    margin-top: 2.5rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    margin-left: 2rem; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: #c69963;
      height: 2rem;
      margin-right: 1rem;
      width: 2rem; }
  .home__btn {
    grid-column: 1 / -1; }

.gallery {
  background-color: #f9f7f6;
  display: grid;
  grid-column: full-start / full-end;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2; }
  .gallery__item--2 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 3; }
  .gallery__item--3 {
    grid-column: 6;
    grid-row: 1 / span 2; }
  .gallery__item--4 {
    grid-column: 7 / -1;
    grid-row: 1 / span 2; }
  .gallery__item--5 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3; }
  .gallery__item--6 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 2; }
  .gallery__item--7 {
    grid-column: 5;
    grid-row: 4; }
  .gallery__item--8 {
    grid-column: 6 / span 2;
    grid-row: 3 / span 2; }
  .gallery__item--9 {
    grid-column: 8;
    grid-row: 3 / span 3; }
  .gallery__item--10 {
    grid-column: 1;
    grid-row: 6 / span 2; }
  .gallery__item--11 {
    grid-column: 2 / span 2;
    grid-row: 6 / span 2; }
  .gallery__item--12 {
    grid-column: 4;
    grid-row: 6 / span 2; }
  .gallery__item--13 {
    grid-column: 5 / span 3;
    grid-row: 5 / span 3; }
  .gallery__item--14 {
    grid-column: 8;
    grid-row: 6 / span 2; }
  .gallery__img {
    object-fit: cover;
    height: 100%;
    width: 100%; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 8rem; }

.nav ul {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  list-style: none; }

.nav__link:link, .nav__link:visited {
  color: #fff;
  display: block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s; }

.nav__link:active, .nav__link:hover {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px); }

.copyright {
  color: #aaa;
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  text-align: center;
  width: 70%; }
